.container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 100px calc((100vh - 100px - 20px)/2) calc((100vh - 100px - 20px)/2);
    grid-template-areas:
    'header header'
    'nav main'
    'aside main';
    gap: 10px;
}